<!DOCTYPE html>
<html th:replace="~{layout/notLoginBase :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>login</title>
</head>
<body>
<section class="bg-dark text-white p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <h1 class="text-center">LOGIN</h1>
        <div class="row align-items-center justify-content-between">
            <div class="col-md text-center">
                <img src="img/logo1.png" class="img-fluid" alt="" th:src="@{/img/login.png}">
            </div>
            <div class="col-md p-5">
                <form th:action th:object="${loginForm}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="loginId" th:text="#{label.member.loginID}"></label>
                        <input type="text" id="loginId" th:field="*{loginId}" class="form-control w-75" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{loginId}"/>
                    </div>
                    <div class="mb-3">
                        <label for="password" th:text="#{label.member.password}"></label>
                        <input id="password" type="password" th:field="*{password}" class="form-control w-75" th:errorclass="field-error">
                        <label class="field-error" th:errors="*{password}"/>
                    </div>
                    <div>
                        <div>
                            <button class="w-25 btn btn-info btn-lg mx-5" type="submit" th:text="#{login}"></button>
                            <button class="w-25 btn btn-info btn-lg" th:onclick="|location.href='@{/}'|" type="button">
                                취소
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>