<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/members/add}'|" th:text="#{join}">
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg"
                    th:onclick="|location.href='@{/login}'|" type="button" th:text="#{login}">
            </button>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->

<form th:action="@{/homeDelete}" th:method="delete">
    <button class="btn btn-black btn-lg" type="submit">delete</button>
</form>
</body>
</html>