<!DOCTYPE html>
<html th:replace="~{layout/notLoginBase :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<section class="bg-dark text-white p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="py-5 text-center">
            <h2>회원가입</h2>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-md text-center">
                <h4 class="mb-3 w-75 mb-4">회원 정보 입력</h4>
                <form th:action method="post" th:object="${member}">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err:${#fields.globalErrors()}"
                           th:text="${err}"></p>
                    </div>
                    <div class="w-75 my-3">
                        <label for="loginId" th:text="#{label.member.loginID}">로그인 아이디</label>
                        <input type="text" id="loginId" th:field="*{loginId}" name="loginId"
                               class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{loginId}"></div>
                    </div>
                    <div class="w-75 my-3">
                        <label for="name" th:text="#{label.member.name}">이름</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{name}"></div>
                    </div>
                    <div class="w-75 my-3">
                        <label for="password" th:text="#{label.member.password}">비밀번호</label>
                        <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{password}"></div>
                    </div>
                    <div class="w-75 my-3">
                        <label for="description" th:text="#{label.member.description}">자기소개</label>
                        <textarea type="text" id="description" th:field="*{description}" class="form-control"></textarea>
                    </div>
                    <div class="w-75 pt-3">
                        <button class="btn btn-info btn-lg mx-3 w-25" type="submit">
                            회원가입
                        </button>
                        <button class="btn btn-info btn-lg w-25" th:onclick="|location.href='@{/}'|" type="button">
                            취소
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md text-center">
                <img th:src="@{/img/addMember.png}" class="img-fluid w-75" alt="" >
            </div>
        </div>
    </div>
</section>
</body>
</html>