<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>login</title>
    <style>
        .container{
            max-width:560px;
        }
        .field-error {
            border-color: red;
            color:red;
        }
    </style>
</head>
<body>
<div class="py-5 text-center">
    <h2>글 쓰기</h2>
</div>
<form th:action method="post" th:object="${post}">
    <table width="700" border="3" align="center">
        <tr>
            <td class="title">제 목</td>
            <td>
                <input th:field="*{title}" type="text" size="70" maxlength="100" autocomplete="off"
                th:errorclass="field-error">
                <div class="field-error" th:errors="*{title}"></div>
            </td>
        </tr>
        <tr>
            <td class="title">작성자</td>
            <td><label th:text="${session.loginMember.name}"></label></td>
        </tr>
        <tr>
            <td class="title">내 용</td>
            <td>
                <textarea th:field="*{content}" cols="72" rows="20" autocomplete="off"></textarea>
<!--                <input th:field="*{content}" type="text">-->
            </td>
        </tr>
    </table>
    <button type="submit" class="btn-group-sm btn btn-primary">등록</button>
    <button type="button" class="btn-group-sm btn btn-primary" th:onclick="|location.href='@{/posts}'|">취소</button>
</form>

</body>
</html>